name: CI-CD Kubernetes Deployment

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build & Push Backend Image
      run: |
        docker build -t bobbylab/backend:latest ./backend
        docker push bobbylab/backend:latest

    - name: Build & Push Frontend Image
      run: |
        docker build -t bobbylab/frontend:latest ./frontend
        docker push bobbylab/frontend:latest

    - name: Setup kubectl
      uses: azure/setup-kubectl@v4

    - name: Setup Helm
      uses: azure/setup-helm@v4

    - name: Configure Kubernetes
      run: |
        echo "${{ secrets.KUBECONFIG }}" | base64 --decode > kubeconfig
        export KUBECONFIG=$PWD/kubeconfig

    - name: Deploy to Kubernetes using Helm
      run: |
        helm upgrade --install microservices ./helm-chart/microservices